</br>
<div class="cart_title">আপনার পণ্য</div>
<table>
</br>
</br>
</br>
<%= render(cart.line_items) %>
<tr class="total_line">
<td colspan="2">মোট</td>
<td class="total_cell"><%= (cart.total_price) %></td>
</tr>
</table>
<%= button_to "অর্ডার করুন", new_order_path, :method => :get, class: "btn btn-small btn-warning" %>
<%= button_to 'মুছে ফেলুন', cart, :method => :delete,:confirm => 'আপনি নিশ্চিত?', class: "btn btn-small btn-danger" %>
