<footer class="footer">

    <a href="http://www.github.com/alnahian/shop">বাংলায় ক্রয়-বিক্রয়</a>
    &copy আল নাহিয়ান | মাহবুব আলম মাসুদ


    <div id=right>
      <%= link_to "আমাদের বিষয়ে জানতে |",   '#' %>
      <%= link_to " আমাদের সাথে যোগাযোগ |", '#' %>
      <a href="http://www.github.com/alnahian/my_app">সাম্প্রতিক খবর</a>
    </div>

</footer>
